/* Styles for the Lab Test Report Component */

/* Container styling for the main report */
.report-container {
  padding: 20px;
  margin: 20px auto;
  background-color: #ffffff; /* Light background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 1200px;
}

/* Loader container for centralized loading spinner */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9; /* Light grey background */
}

/* Typography for subtitles */
.MuiTypography-subtitle2 {
  font-weight: bold;
  color: #2c3e50; /* Dark grey for emphasis */
  margin-bottom: 5px;
}

/* Button styles */
.MuiButton-containedPrimary {
  background-color: #007bff; /* Primary blue */
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: none; /* Avoid uppercase */
  font-size: 16px;
}

.MuiButton-containedPrimary:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Grid spacing and alignment */
.MuiGrid-container {
  margin-top: 20px;
  gap: 15px; /* Consistent spacing between items */
}

/* Table styles */
.MuiTable-root {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.MuiTableCell-root {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0; /* Light border */
}

.MuiTableHead-root .MuiTableCell-root {
  font-weight: bold;
  background-color: #f5f5f5; /* Subtle grey for headers */
  color: #2c3e50;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .report-container {
    padding: 15px;
  }

  .MuiTypography-subtitle2 {
    font-size: 14px;
  }

  .MuiButton-containedPrimary {
    font-size: 14px;
    padding: 8px 16px;
  }
}
