html {
  font-size: 14px;
}

body {
  background-color: #f8f9fa;
  /* Light gray background */
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  font-weight: normal;
  color: #495057;
  /* Dark gray for text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.5em;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: #343a40;
  /* Darker gray for headings */
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
  background-color: #ffffff;
  /* White background for cards */
  border: 1px solid #dee2e6;
  /* Light border */
  border-radius: 0.25rem;
  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.customer-badge,
.product-badge,
.order-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.customer-badge.status-qualified {
  background-color: #d4edda;
  /* Light green */
  color: #155724;
  /* Dark green */
}

.customer-badge.status-unqualified {
  background-color: #f8d7da;
  /* Light red */
  color: #721c24;
  /* Dark red */
}

.customer-badge.status-negotiation {
  background-color: #fff3cd;
  /* Light yellow */
  color: #856404;
  /* Dark yellow */
}

.customer-badge.status-new {
  background-color: #cce5ff;
  /* Light blue */
  color: #004085;
  /* Dark blue */
}

.customer-badge.status-renewal {
  background-color: #e2d7f3;
  /* Light purple */
  color: #5a2b91;
  /* Dark purple */
}

.customer-badge.status-proposal {
  background-color: #ffeeba;
  /* Light orange */
  color: #856404;
  /* Dark orange */
}

.product-badge.status-instock {
  background: #d4edda;
  /* Light green */
  color: #155724;
  /* Dark green */
}

.product-badge.status-outofstock {
  background: #f8d7da;
  /* Light red */
  color: #721c24;
  /* Dark red */
}

.product-badge.status-lowstock {
  background: #fff3cd;
  /* Light yellow */
  color: #856404;
  /* Dark yellow */
}

.order-badge.order-delivered {
  background: #d4edda;
  /* Light green */
  color: #155724;
  /* Dark green */
}

.order-badge.order-cancelled {
  background: #f8d7da;
  /* Light red */
  color: #721c24;
  /* Dark red */
}

.order-badge.order-pending {
  background: #fff3cd;
  /* Light yellow */
  color: #856404;
  /* Dark yellow */
}

.order-badge.order-returned {
  background: #e2d7f3;
  /* Light purple */
  color: #5a2b91;
  /* Dark purple */
}

.image-text {
  vertical-align: middle;
  margin-left: 0.5rem;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;
}

.p-multiselect-representative-option img {
  vertical-align: middle;
  width: 24px;
}

.p-multiselect-representative-option span {
  margin-top: 0.125rem;
}

.p-column-filter {
  width: 100%;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-item img.flag {
  width: 18px;
  margin-right: 0.5rem;
}

.flag {
  vertical-align: middle;
}

span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}

img.flag {
  width: 30px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  /* Dark text color */
}

.nav-links {
  display: flex;
  gap: 15px;
  /* Space between links */
}

.nav-links a {
  text-decoration: none;
  color: #007bff;
  /* Primary color */
  font-weight: 500;
  /* Medium weight for links */
  transition: color 0.3s;
  /* Smooth color transition */
}

.nav-links a:hover {
  color: #0056b3;
  /* Darker shade on hover */
}

.profile-icon img {
  width: 30px;
  /* Size of the profile icon */
  height: 30px;
  border-radius: 50%;
  /* Round profile icon */
  cursor: pointer;
  /* Pointer on hover */
}
