.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}
.tableHeader {
  font-weight: bold;
  background-color: #f1f1f1;
}

.textField {
  width: 100%;
  margin: 8px 0;
}

.ageField {
  width: 60px;
  margin: 0 4px;
}

.tableElements {
  display: flex;
  align-items: center;
}

.buttonSpacing {
  margin: 0 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
