@media print {
  body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  .pdf-print-container {
    margin: 0; /* Ensure no margin around the PDF content */
    padding: 0; /* Ensure no padding */
  }
  /* Additional styles for controlling margins */
  @page {
    margin: 0; /* Ensure the printed page has no margin */
    size: A4 portrait; /* Force portrait orientation */
  }
}
